.auth-form-body {
  padding: 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

.auth-form-header {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
}
.auth-form-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.auth-form-body .input-block {
  margin-top: 5px;
  margin-bottom: 15px;
}

.auth-form-header {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
}